<launch>
  <!-- Arguments -->
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="/odometry/filtered" />

  <!-- move_base -->
  <node name="move_base_flex" pkg="mbf_costmap_nav" type="mbf_costmap_nav" required="true" respawn="false" output="screen">
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <!-- <param name="base_global_planner" value="navfn/NavfnROS"/> -->

    <rosparam file="$(find fw_rev_04_navigation)/param/costmap_common_params_fw.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find fw_rev_04_navigation)/param/costmap_common_params_fw.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find fw_rev_04_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find fw_rev_04_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find fw_rev_04_navigation)/param/move_base_flex_params.yaml" command="load" />
    <rosparam file="$(find fw_rev_04_navigation)/param/teb_local_planner_params_fw.yaml" command="load" />
    <rosparam file="$(find fw_rev_04_navigation)/param/global_planner_params.yaml" command="load" />

    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>

  </node>
</launch>
